<%- include("../layout/head") %>

<style>
    .td {
        text-align: center;
    }
</style>

<body>
    <div class="aside" style="border: none;">
        <%- include("../layout/aside_admin") %>
    </div>
    <div class="content">
        <%- include("../layout/nav_admin") %>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-primary">Danh sách nhân viên</h3>
                <br>
                <div class="form-group">
                    <a href="/admin/insertNV"><button class="btn btn-success px-5">Thêm nhân viên</button></a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Họ tên</th>
                                <th>Ngày sinh</th>
                                <th>Tuổi</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% userNV.forEach(function(userNV){ %>
                                <tr class="td">
                                    <td><%= userNV.ID %></td>
                                    <td><%= userNV.name %></td>
                                    <td><%= userNV.dateOfBirth %></td>
                                    <td><%= userNV.age %></td>
                                    <td><%= userNV.sdt %></td>
                                    <td><%= userNV.address %></td>
                                    <td>
                                    <a href="/admin/edit_userNV/<%= userNV._id %>">Sửa </a>|<a href="/delete_userNV/<%= userNV._id %>">Xóa </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>