<%- include("../layout/head") %>
<link rel="stylesheet" href="css/body.css">
<%- include("../layout/nav") %>

<body>
  <%- include("../layout/header") %>
    <br>
    <h3 style="margin-left: 8%;">Sản phẩm mới nhất</h3>
    <%- include("./list_products") %><br>
      <div style="clear: left; width: 100%; ">
        <a href="/product"><button class="btn btn-success" style="margin-left: 48%;">Xem thêm</button></a>
      </div>
      <%- include("../layout/footer") %>
</body>